@import "../styles/global.scss";

.about {
  display: flex;
  flex-direction: column;

  @media (min-width: 1056px) {
    justify-content: center;
    flex-direction: row;
  }
}

.aboutparagraph {
  margin: 0 40px;

  @media (min-width: 1056px) {
    width: 600px;
  }
}
