@import "../styles/global.scss";

.container {
  margin: 40px 0;
  align-self: center;
  display: grid;
  //   grid-gap: 20px;
  grid-template-columns: 1fr;

  @media (min-width: 672px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
