@import "../../styles/global.scss";

.background {
  display: flex;
  flex-direction: row-reverse;
  height: 100vh;
  // justify-content: space-between;
}

.pagelayout {
  color: $font-color-main;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  // padding: 40px 0;
  // max-width: 1289px;
  // height: fit-content;
  min-height: calc(100vh - (#{$header-height} + #{$footer-height}));

  // @media (min-width: 672px) {
  //   margin: 0 32px;
  // }

  // @media (min-width: 1056px) {
  //   margin: 0 auto;
  // }
}
