.card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 450px;

  //looks
  // background-color: #ffffff;
  // border: 2px solid;
  // border-radius: 1em;
  // border-color: #d4d4d5;
}
