@import "../styles/global.scss";

.pagelayout {
  color: $font-color-main;
  display: flex;
  justify-content: center;
  flex-direction: column;
  //   position: relative;
  margin: 0 16px;
  padding: 40px 0;
  max-width: 1289px;
  height: fit-content;
  min-height: calc(100vh - (#{$header-height} + #{$footer-height}));

  @media (min-width: 672px) {
    margin: 0 32px;
  }

  @media (min-width: 1056px) {
    margin: 0 auto;
  }
}
