@import "../../styles/global";

.footer {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  background-color: $background-color-secondary;
  color: $font-color-secondary;
  height: $footer-height;
  width: 100vw;
}

.footerinfo {
  align-self: center;
  padding: 10px;
  text-transform: lowercase;
}
